.hideMessage{
    display:none;
}
.centro{
    text-align:center;
}
.not-allowed{
    cursor:not-allowed;
}
#toast-container {
    top: auto !important;
    left: auto !important;
    bottom: 10%;
    right: 7%;
}
nav a:hover{
    text-decoration:none !important;
}