html,body{
    background-color: #f3f3f3;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
#results{
    margin-top:-8px!important;
}
#dropTaskList{
max-height: 400px !important; 
overflow: auto !important;
box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
line-height:35px;
}
#dropTaskList li {
    width:100% !important;
    margin-bottom: 0px !important;
}
#dropTaskList li a{
    line-height:40px;
    font-weight: 300;
    width:100%;
}
main {
flex: 1 0 auto;
}
.appName{
    font-family: 'Dancing Script', cursive;
}
.appName:hover{
    cursor: pointer;
    color:white;
}

.nav-wrapper {
    background-color: #0288d1  !important;
    font-size: 14px;
    font-weight: bold;
}

.navbar-brand{
   position: absolute;
    left: 1%;
    margin-left: -1px !important;
    font-size: 2.4rem;
}

.home-icon-div{
    float:left;
    background-color: lightskyblue;
    border-radius: 5%;
}

.home-icon-div:hover{
    opacity:0.8;
    cursor: pointer;
}

.home-icon{
    color:white;
}
.invalid-feedback{
    font-size:16px;
}
.full-content{
    margin:0;
    padding:0;
    height:100%;
    margin-top:20px;
}
.auth-bg{
    background:#f3f3f3;
    width:100%;
}

.active {
    color:#0288d1 !important;
}

#description:focus{
    border-bottom-color:#0288d1 !important;
}

.input-field input:focus {
    border-bottom: 1px solid #0288d1 !important;
    box-shadow: 0 1px 0 0 #0288d1 !important;
}

#searchBar{
   padding-top:20px;
   padding-bottom:20px;

}

@-moz-document url-prefix() {
#searchBar {
    padding-top:0px;
    padding-bottom:0px;
}
}
.inspire{
    padding-top:2%;
}

#profileOptions{
    top: 100% !important;
}
.stick{
    padding:0px !important;
    margin:0px !important;
}

.title-list{
    float:none;
}
.results{
    height: 400px !important; 
    overflow: auto !important;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2)
}

.profileDrop{
    color:black !important;
    text-decoration:none !important;
}
@media only screen and (max-width: 600px) {
    .avatar-image{
        width:30px;
        height:30px;
        position:fixed;
        top:15px;
        right:15px;
    }
} 

@media only screen and (min-width: 600px) {
    .avatar-image{
        width:35px;
        height:35px;
    }
} 

#overlay {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
}
#spinner{
    position: absolute;
    top :0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
#toast-container {
    top: auto !important;
    left: auto !important;
    bottom: 10%;
    right: 7%;
}
.align-logo{
    display:inline-block;
    vertical-align: middle;
}
.align-text-logo{
    display:inline-block;
    vertical-align: middle;
    margin-left:2px;
}
#searchBar::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    font-size: 14px;
}
#searchBar::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    font-size: 14px;
}
#searchBar:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 14px;
}