body{
    min-height:auto;
    overflow-y:hidden;
}

.project-bar{
    height:50px;
    width:100%;
    position:fixed;
}

.go-inline{
    float:left;
}
#status-text{
    margin-left:10%;
}
.status-card-container{
    margin-top:40px;
    display:flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	white-space:nowrap;
}
.status-div{
    flex: 0 0 272px;
    min-height:30px;
    height:auto !important;
    margin:10px;
}
.status-panel{
    height:100%;
    width:272px;
    padding:0;
    margin-left:10px;
    margin-right:10px;
}
.status-name{
    max-height:100%;
    padding:0px;
}
.card-header{
    text-overflow:ellipses;
    position:relative;
}
.status-body{
    padding:2%;
}
.status-ops{
    position:absolute;
    cursor:pointer;
    right:2%;
  }
.none{
    display: none;
}
#project-admin-avatars{
    margin-left:5%;
}
.avatar-image{
    position:relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin:0.05em;
    cursor:pointer;
  }
  .all-member-icon{
      background-color: #cecece;
      line-height:36px;
      text-align:center;
      cursor:pointer;
  }
.task-list{
    max-height:65vh;
    overflow-y:auto;
}
.task-ops{
    position:absolute;
    right:1%;
}
.task-icons-info{
    display:inline-block;
    font-size:12px !important;
    margin-right:3%;
    color:grey;
}
.task-icons{
    display:inline-block;
    color:grey;
    font-size:14px !important;
}
#taskMembersView{
    margin-top:5%;
}
#taskMembersCount{
    margin-top:2%;
}
.desc-icons{
    display:inline-block;
    color:grey;
    font-size:16px !important;
}
.date-div{
    background-color:yellow;
    padding:1%;
    border-radius:5%;
}
.pin-icon{
    -ms-transform: rotate(-45deg); /* IE 9 */
    -webkit-transform: rotate(-45deg); /* Safari 3-8 */
    transform: rotate(-45deg);
}
.progress-info{
    display:inline-block;
}
.progress{
    display:inline-block;
    width: 70%;
    margin-bottom:0px;
    margin-left:10px;
    padding-top:5px;
  }
#users-list{
    max-height:25vh;
    overflow:auto;
}
.secondary-content{
    right:0px !important;
}
.btn-primary-outline{
    float:right;
}
.btn-primary-outline:hover{
    background:#afafaf;
}
#members-list{
    position:relative;
    z-index:2;
}
.task-card{
    margin-left:10px;
    margin-right:10px;
    padding:10px;
    margin:-.5rem 0 1rem 0 !important;
}
.task-card:hover{
    background:#afafaf;
    cursor:pointer;
    
}
.role{
    font-size: 10px;
    color:gray;
}

.addTask:hover{
    cursor:pointer;
    text-decoration: underline;
}
.hideMessage{
    display:none;
}
.user-view{
    line-height: 25px !important;
    margin-bottom:0px !important;
}
.project-heading{
    font-size:1.5rem;
    font-weight: 600;
    overflow-wrap:break-word;
}
.project-title{
    font-size:1.5rem;
    font-weight: 600;
    overflow-wrap:break-word;
    line-height:25px !important;
}
.modal-container{
    bottom:auto;
    width:30%;
}
#creation-time-heading{
    text-align: center;
}
#creation-time-heading + li div{
    margin-top:0px;
}
#members-heading{
    text-align: center;
    line-height: 5px;
    padding: 20px;
    font-size: large;
}
#description-heading{
    overflow-wrap:break-word;
    padding: 0% 5%;
    line-height: 25px !important;
}
#members-list{
    margin-top:0px;
}
.overlay-options{
    position:absolute;
    top:10%;
    right:2%;
    opacity:0.8;
    display:none;
}
.member-options{
    margin-right:0px;
    cursor:pointer;
    display:inline-block;
}
.min-height-auto{
    min-height:auto !important;
}
.status-heading{
    font-weight:600;
}
.light-blue-font{
    color:#0288d1 !important;
}
.select-dropdown + ul{
    max-height:150px;
    overflow-y:auto;
}
#invite-message{
    max-height:200px;
}