.full-content{
    height:auto !important;
}
.task-bar{
    height:50px;
    width:100%;
    background-color: rgba(255,255,255,0.5);
    position:fixed;
    top:60px;
}
#back-arrow{
    font-size:16px;
}
.align-logo{
    display:inline-block;
    vertical-align: middle;
}
.align-text-logo{
    display:inline-block;
    vertical-align: middle;
}
.backlink:hover{
    cursor:pointer;
    text-decoration: underline;
}
.task-container{
    width:75%;
    margin-left:auto;
    margin-right:auto;
}
#task-title{
    margin-top:0px;
}
.go-inline{
    float:left;
}

.status-div{
    width:400px;
    float:left;
    margin:10px;
}
.task-detail-container{
    margin-top:70px;
    padding-left:2%;
    padding-right:2%;
}
.btn-primary-outline{
    float:right;
}
.btn-primary-outline:hover{
    background:#afafaf;
}
.sticky{
    position:sticky;
    position:-webkit-sticky;
    top:50px;    
}
#members-list{
    position:relative;
    z-index:2;
}
.task-card:hover{
    background:#afafaf;
    cursor:pointer;
}
.pointer{
    cursor:pointer;
}
.addTask:hover{
    cursor:pointer;
    text-decoration: underline;
}
.striked{
    text-decoration: line-through;
}
.error{
    color:red;
}
#comment-pre-text{
    padding:1%;
    margin:1%;
}
#comment-list{
    background-color: #eee;
    max-height: 50vh;
    overflow:auto;
}
.comment-option{
    float:right;
    margin-left:10px;
    margin-right:10px;
    cursor:pointer;
}
.comment-option:hover{
    text-decoration: underline;
}
#newItemDiv{
    margin-bottom:10px;
}
.pointer{
    cursor:pointer;
}
.modal-container{
    bottom:auto;
    width:30%;
}
#progress-info{
    display:inline-block;
}
@media only screen and (min-width: 601px) {
    #progressBar {
      display:inline-block;
      width: 70%;
      margin-bottom:3px;
      margin-left:10px;
      padding-top:10px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    #progressBar {
      display: inline-block;
      width: 70%;
      margin-bottom:0px;
      padding-top:10px;
      margin-left:5px;
    }
  }
  #attachment-list{
      margin:1%;
      background: #efefef;
      padding:1%;
  }
  .attachments-image{
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    border-radius:2%;
    margin:2%;
    width:200px;
    height:150px;
    cursor:pointer;
    position: relative;
  }
  .image-ops{
    position:absolute;
    bottom:2%;
    right:2%;
  }
  .modal{
      bottom:auto !important;
  }
  #task-buttons{
    margin-top:20px;
  }
  #quill-container{
  max-height:200px;
  overflow:auto;
  }
  #quill-container strong{
    font-weight:bold;
  }
  .none{
      display: none;
  }
  .download-icon{
      color:black;
  }
  .download-icon:hover{
      color:black;
  }
  #members-list{
    max-height:400px;
    overflow:auto;
  }
  #search-member-div{
      float:none !important;
  }
  #member-avatars{
    max-height:25vh;
    overflow-y:auto;
    margin-left:10px;
  }
  .avatar-image{
    position:relative;
    width: 35px;
    height: 35px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin:0.05em;
    cursor:pointer;
  }
  .comment-div{
    margin: 1% 1% 2% 1%;
    padding: 1% 2% 3% 1%;
    background-color: white;
    max-width: max-content;
    border-radius: 0px 0% 30px 0%
  }
  .commenter-name{
    font-size: 10px;
    color: gray
  }
  .commenter-message{
    font-size: 15px;
    overflow-wrap:break-word;
  }
  .commenter-time{
    font-size: 10px;
    color: gray;
  }
  .pin-icon{
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Safari 3-8 */
    transform: rotate(45deg);
}
.members-p-text{
    margin-bottom:0px;
}
.description-container{
    width:75%;
}
.right-icon-button{
    max-width:min-content;
    padding-left:16px !important;
    padding-right:16px !important;
}
#comment-message{
    padding:12px 0px !important;
    max-height:200px;
}
.comment-input-div{
    margin:10px 0px 0px 0px !important;
    max-width:100% !important;
}
.select-dropdown + ul{
    max-height:150px;
    overflow:auto;
}